@using TechnicalDocuIndexer.Web.Util
@model DocumentDetails
@{
    ViewData["Title"] = "Document details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <h4>Document details</h4>
    <hr />
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-success alert-dismissible" style="margin-top:20px">
            @ViewBag.Message
        </div>
    }
    @if (Model == null)
    {
        <div>Can not load document details, please try again later.</div>
    }
    else
    {
        <h2>
            FILE: @Model.metadata_storage_name <a type="button" class="btn btn-primary" asp-controller="DocumentDetails" asp-action="File" asp-route-id="@Model.metadata_storage_path">Download</a>
        </h2>
        <hr />
        <div>
            <img style="width:100%;" src="@Url.Action("File", "DocumentDetails", new {id = @Model.metadata_storage_path})" />
        </div>

        Microsoft.AspNetCore.Html.HtmlString ContentData = FileDisplayHelper.ParseToHtml(@Model.metadata_storage_file_extension, @Model.merged_content);
        if (ContentData != null && !String.IsNullOrEmpty(ContentData.ToString()))
        {
            <div>
                <h5 class="text-primary">Content</h5>
                @ContentData
                <hr />
            </div>
        }
        if (Model.keyphrases != null && Model.keyphrases.Count > 0)
        {
            <div>
                <h5 class="text-primary">Keyphrases</h5>
                @foreach (var phrase in Model.keyphrases)
                {
                    @(phrase + " ")
                    ;
                }
                <hr />
            </div>
        }
        if (Model.organizations != null && Model.organizations.Count > 0)
        {
            <div>
                <h5 class="text-primary">Organizations</h5>
                @foreach (var org in Model.organizations)
                {
                    @(org + " ")
                    ;
                }
                <hr />
            </div>
        }
        if (Model.imageTags != null && Model.imageTags.Count > 0)
        {
            <div>
                <h5 class="text-primary">Image Tags</h5>
                @foreach (var tag in Model.imageTags)
                {
                    @(tag + " ")
                    ;
                }
                <hr />
            </div>
        }
    }
</div>
