@using TechnicalDocuIndexer.Web.Util
@model DocumentDetails
@{
    ViewData["Title"] = "Document details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-8">
            <h4>Document details</h4>
        </div>
        <div class="col-4">
            <span><i class='fas fa-clock' style='font-size:14px'></i> @Model.timeToRead minutes</span>
            <span><i class='fas fa-keyboard pl-2' style='font-size:14px'></i> @Model.wordCount words</span>
            
        </div>
    </div>
    <hr />
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-success alert-dismissible" style="margin-top:20px">
            @ViewBag.Message
        </div>
    }
    @if (Model == null)
    {
        <div>Can not load document details, please try again later.</div>
    }
    else
    {
        <h2>
            FILE: @Model.metadata_storage_name <a type="button" class="btn btn-primary" asp-controller="DocumentDetails" asp-action="File" asp-route-id="@Model.metadata_storage_path">Download</a>
        </h2>
        <hr />
        if (@Model.metadata_storage_name.ToUpper().EndsWith(".PNG") || @Model.metadata_storage_name.ToUpper().EndsWith(".JPG"))
        {
            <div>
                <img style="width:100%;" src="@Url.Action("File", "DocumentDetails", new { id = @Model.metadata_storage_path })" />
            </div>
        }

        Microsoft.AspNetCore.Html.HtmlString ContentData = FileDisplayHelper.ParseToHtml(@Model.metadata_storage_file_extension, @Model.merged_content);
        if (ContentData != null && !String.IsNullOrEmpty(ContentData.ToString()))
        {
            <div>
                <h5 class="text-primary">Content</h5>
                @ContentData
                <hr />
            </div>
        }
        if (Model.keyphrases != null && Model.keyphrases.Count > 0)
        {
            <div>
                <h5 class="text-primary">Keyphrases</h5>
                <ul>
                    @foreach (var phrase in Model.keyphrases)
                    {
                        <li>
                            @(phrase)
                        </li>
                    }
                </ul>
                <hr />
            </div>
        }
        if (Model.organizations != null && Model.organizations.Count > 0)
        {
            <div>
                <h5 class="text-primary">Organizations</h5>
                <ul style="list-style-type:square">
                    @foreach (var org in Model.organizations)
                    {
                        <li>
                            @(org)
                        </li>
                    }
                </ul>
                <hr />
            </div>
        }
        if (Model.imageTags != null && Model.imageTags.Count > 0)
        {
            <div>
                <h5 class="text-primary">Image Tags</h5>
                <ul style="list-style-type:circle">
                    @foreach (var tag in Model.imageTags)
                    {
                        <li>
                            @(tag)
                        </li>
                    }
                </ul>
                <hr />
            </div>
        }
    }
</div>
